/**css reglas y comandos basicos */
	
	body {color:blue;}/** para poner de color azul las letras de titulo */
	
	p {color:#610B21;} /** color de la lista ordenada rojo */
	
	hr {background-color: #BDBDBD; /** fondo de color gris */ 
